<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
</head>
<body>
<!--重新登录时会判断当前用户是否登录如果已经登录则返回主页否则返回登录页-->
<a href="../login">主页</a>

<br>
<form th:action="@{'/user/userAdd'}" th:method="post">
    用户名:
    <input th:name="username" th:type="text"><br>
    密 码 ：<input th:name="password" th:type="text"><br>
    昵 称 ：<input th:name="name" th:type="text"><br>
    用户状态:<input th:name="state" th:type="radio" th:value="0" th:checked="true">未认证
    <input th:name="state" th:type="radio" th:value="1">正常
    <input th:name="state" th:type="radio" th:value="2">锁定
    <br>
    <input th:type="submit" th:value="添加">
</form>
</body>
</html>