<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色更新</title>
</head>
<body>
<a href="../login">主页</a>
<form th:action="@{updata}" th:method="post">
    <input th:name="id" type="hidden" th:value="${role.id}">
    角色名<input th:name="role" type="text" th:value="${role.role}"><br>
    角色描述<input th:name="description" type="text" th:value="${role.description}"><br>
    角色是否可用<input th:name="available" th:type="radio"  th:checked="${role.available?1:0}" th:value="true">是
    <input th:name="available" th:type="radio"   th:checked="${role.available?0:1}" th:value="false">否 <br>
    <input th:type="submit" th:value="提交">
</form>
</body>
</html>